body {
  font-family: serif;
}

h1 {
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-size: 76px;
  padding: 70px 0px;
  margin: auto;
}

p a {
  color: #5a0104;
  font-size: 18px;
}

footer {
  text-align: center;
  padding: 15px 0px 30px;
}

footer a {
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  margin: auto 10px;
}

img {
  display: block;
  max-width: 50%;
  margin: 35px auto 20px;
}

.content {
  padding: 0 50px;
}

.info {
  text-align: justify;
  font-size: 20px;
  margin: 50px auto auto;
}

.link {
  padding: 0px;
  margin: 20px auto auto;
}

.contact {
  text-align: center;
  font-size: 20px;
  margin: 30px auto auto;
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 98px;
  }

  p a {
    font-size: 24px;
  }

  footer a {
    font-size: 26px;
  }

  img {
    display: block;
    max-width: 100%;
  }

  .info {
    font-size: 26px;
    margin: 30px auto auto;
  }

  .contact {
    font-size: 26px;
    margin: 30px auto auto;
  }
}
